<!-- start: REGISTRATION -->
<div class="row">
  <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
    <div class="logo text-center">
      <img src="assets/images/logo-blue.png" alt="{{app.name}}" class="img-responsive" />
    </div>
    <p class="text-center text-dark text-bold text-extra-large margin-top-15">
      Sign Up
    </p>
    <p class="text-center">
      Enter your personal details below:
    </p>
    <!-- start: REGISTER BOX -->
    <div class="box-register">
      <form [formGroup]="registerForm" class="form-register" (ngSubmit)="register(registerForm.value)">

        <div class="form-group ">
          <app-icon-input inputtype="email" placeholder="Email (this will be your login)" formControlName="email" [controlref]="registerForm" ></app-icon-input>
        <app-control-messages class="red-text" [control]="registerForm.controls.email"></app-control-messages>
        </div>

        <div class="form-group">
          <app-icon-input inputtype="text" lefticon="glyphicon glyphicon-bookmark" placeholder="Invitation Code" formControlName="invitationcode" [controlref]="registerForm" ></app-icon-input>
          <app-control-messages class="red-text" [control]="registerForm.controls.invitationcode"></app-control-messages>
        </div>
        <div class="form-group">
          <app-icon-input inputtype="text" placeholder="First Name" formControlName="firstname" [controlref]="registerForm" ></app-icon-input>
          <app-control-messages class="red-text" [control]="registerForm.controls.firstname"></app-control-messages>
        </div>
        <div class="form-group">
          <app-icon-input inputtype="text" placeholder="Last Name" formControlName="lastname" [controlref]="registerForm" ></app-icon-input>
          <app-control-messages class="red-text" [control]="registerForm.controls.lastname"></app-control-messages>
        </div>
        <div class="form-group">
          <app-icon-input inputtype="text" placeholder="Company Name" formControlName="company" [controlref]="registerForm" ></app-icon-input>
          <app-control-messages class="red-text" [control]="registerForm.controls.company"></app-control-messages>
        </div>


        <p>
          Enter a password below:
        </p>
        <div class="form-group">
          <app-icon-input inputtype="password" placeholder="Password" behaviour="click" formControlName="password" [controlref]="registerForm"></app-icon-input>
          <app-control-messages class="red-text" [control]="registerForm.controls.password"></app-control-messages>
        </div>
        <div class="form-group">
          <app-icon-input inputtype="password" placeholder="Confirm Password ..." behaviour="click" formControlName="password2" [controlref]="registerForm"></app-icon-input>
          <app-control-messages class="red-text" [control]="registerForm.controls.password2"></app-control-messages>
        </div>

        <!--<div class="form-group">
          <label class="block text-center text-small">
                        Gender:
                    </label>
          <div class="clip-radio radio-primary text-center">
            <input type="radio" id="rg-female" name="gender" value="female">
            <label for="rg-female">
                            Female
                        </label>
            <input type="radio" id="rg-male" name="gender" value="male">
            <label for="rg-male">
                            Male
                        </label>
          </div>
        </div>-->

        <div class="form-group">
          <div class="checkbox clip-check check-primary">
            <input name="agree" type="checkbox" id="agree" value="false" formControlName="agree" [class.red-border]="isInvalid(registerForm, 'agree')">
            <label for="agree">
                            I agree to the terms and conditions
                        </label>
          </div>
        </div>
        <div class="form-actions">
          <p class="text-center">
            Already have an account?
            <a [routerLink]="['/auth/login']">
                            Log-in
                        </a>
          </p>
          <button type="submit" class="btn btn-red btn-block" [disabled]="!registerForm.valid">
                        Send Conformation Email
                    </button>
        </div>
        <hr />
        <!--<p class="margin-top-10 text-center">
          Or sign up with a social network
        </p>
        <div class="social-icons text-center">
          <ul>
            <li class="social-twitter" uib-tooltip="Twitter" tooltip-placement="top">
              <a target="_blank" href="#"> Twitter </a>
            </li>
            <li class="social-google" uib-tooltip="Google" tooltip-placement="top">
              <a target="_blank" href="#"> Google </a>
            </li>
            <li class="social-facebook" uib-tooltip="Facebook" tooltip-placement="top">
              <a target="_blank" href="#"> Facebook </a>
            </li>
          </ul>
        </div>-->
      </form>
      <!-- start: COPYRIGHT -->
      <div class="copyright">
        {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
      </div>
      <!-- end: COPYRIGHT -->
    </div>
    <!-- end: REGISTER BOX -->
  </div>
</div>
<!-- end: REGISTRATION -->
