.ui-table.ui-table-gates .ui-table-caption.ui-widget-header {
  border: 0 none;
  padding: 12px;
  text-align: left;
  font-size: 20px;
}

.ui-column-filter {
  margin-top: 1em;
}

.ui-column-filter .ui-multiselect-label {
  font-weight: 500;
}

.ui-table.ui-table-gates .ui-table-thead > tr > th {
  border: 0 none;
  text-align: left;
}

.ui-table-globalfilter-container {
  float: right;
  display: inline;
}

.ui-table.ui-table-gates .ui-table-tbody > tr > td {
  border: 0 none;
}

.ui-table.ui-table-gates .ui-table-tbody .ui-column-title {
  font-size: 16px;
}

.ui-table.ui-table-gates .ui-paginator {
  border: 0 none;
  padding: 1em;
}

.controls {
  margin: 15px;
  text-align: center;
}

.controls p-button {
  margin: 5px;
}


video {
  max-width: 640px;
  max-height: 480px;
}

.snapshot-header {
  width: 75px;
}

.startDate-header {
  width: 200px;
}
