.controls {
  text-align: center;
  margin: 10px;

}

.controls button {
  margin: 5px;
}

::ng-deep .onvif-scanner.ui-listbox {
  width: 100%;
  height: 400px;
  min-height: 400px;
  min-width: 500px;
}