<!-- start: FORGOT -->
<div class="row">
  <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
    <div class="logo text-center">
      <img src="assets/images/logo-blue.png" alt="{{app.name}}" class="img-responsive" />
    </div>
    <p class="text-center text-dark text-bold text-extra-large margin-top-15">
      Forget Password?
    </p>
    <p class="text-center">
      Enter your e-mail address below to reset your password.
    </p>
    <!-- start: FORGOT BOX -->
    <div class="box-forgot">
      <form [formGroup]="passwordResetForm" class="form-forgot" (ngSubmit)="RequestPasswordReset(passwordResetForm.value)">
        <div class="form-group ">
          <app-icon-input lefticon="fa fa-envelope-o fa-fw" inputtype="email" placeholder="Email" formControlName="email" [controlref]="passwordResetForm"
            [validationIcon]="false"></app-icon-input>
          <app-control-messages class="red-text" [control]="passwordResetForm.controls.email"></app-control-messages>
        </div>

        <div class="form-actions">
          <button type="submit" [disabled]="!passwordResetForm.valid" class="btn btn-red btn-block">
                        Submit
                    </button>
        </div>
      </form>
      <div class="text-center margin-top-15">
        <strong>Need help?</strong> Learn more about how to <a href>retrieve an existing account.</a>
      </div>
      <!-- start: COPYRIGHT -->
      <div class="copyright">
        {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
      </div>
      <!-- end: COPYRIGHT -->
    </div>
    <!-- end: FORGOT BOX -->
  </div>
</div>
<!-- end: FORGOT -->
