/* ---------------------------------------------------------------------- */


/*  Login
/* ---------------------------------------------------------------------- */

.main-login {
  margin-top: 0;
  position: relative;
  margin-top: 60px;
}

.app-navbar-fixed .main-login {
  margin-top: 0;
}

@media (max-width: 991px) {
  .main-login {
    margin-top: 10px !important;
  }
}

.main-login .logo {
  padding: 0 10px;
}

.main-login .logo>img {
  display: inline-block !important;
}

.main-login .box-login,
.main-login .box-forgot,
.main-login .box-register {
  overflow: hidden;
  margin: 15px 0 65px 0;
}

.main-login .form fieldset {
  border: none;
  margin: 0;
  padding: 10px 0 0;
}

.main-login a.forgot {
  color: #909090;
  font-size: 12px;
  position: absolute;
  right: 10px;
  text-shadow: 1px 1px 1px #FFFFFF;
  top: 9px;
}

.main-login input.password {
  padding-right: 130px;
}

.main-login label {
  color: #7F7F7F;
  font-size: 14px;
  margin-top: 5px;
}

.main-login .copyright {
  font-size: 11px;
  margin: 0 auto;
  padding: 10px 10px 0;
  text-align: center;
}

.main-login .form-actions:before,
.main-login .form-actions:after {
  content: "";
  display: table;
  line-height: 0;
}

.main-login .form-actions:after {
  clear: both;
}

.main-login .form-actions {
  margin-top: 15px;
  padding-top: 10px;
  display: block;
}

.main-login .new-account {
  border-top: 1px dotted #EEEEEE;
  margin-top: 15px;
  padding-top: 10px;
  display: block;
}